<h1>BlackJack</h1>


<h3> Welcome <%= session[:username] %> to Web BlackJack</h3>
<div class='well'>
	<h3><%= session[:username] %></h3> 
	<h4>Your Cards are:</h4>
	<ul>
		<% session[:player_cards].each do |card| %>
		<li><%= card %></li>
		<% end %>
	</ul>
	<h5>Your Card Total: <%=hand_value(session[:player_cards]) %></h5>
</div>	

	<br/>

<div class='well'>
	<h3>Dealer</h3>
	<h4>Dealer Cards are:</h4>
	<ul>
		<% session[:dealer_cards].each do |card| %>
		<li><%= card %></li>
		<% end %>
	</ul>
	<h5>Dealer Card Total: <%=hand_value(session[:dealer_cards]) %></h5>
</div>
<br/>

<% if @show_hit_and_stay %>
	<form action='/hit' method='post'>
	 <input type='submit' class='btn' value='Hit'/>
	</form>

	<form action='/stay' method='post'>
	 <input type='submit' class='btn' value='Stay'/>
	</form>
<% end %>